{% load static %}
<link rel="shortcut icon" type="image/x-icon" href="{% static 'front-end/assets/dr/logo.jpg'%}">
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'back-end/assets/css/bootstrap.min.css'%}">
		
		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="{% static 'back-end/assets/css/font-awesome.min.css'%}">
		
		<!-- Lineawesome CSS -->
        <link rel="stylesheet" href="{% static 'back-end/assets/css/line-awesome.min.css'%}">
		
		<!-- Chart CSS -->
		<link rel="stylesheet" href="{% static 'back-end/assets/plugins/morris/morris.css'%}">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="{% static 'back-end/assets/css/style.css'%}">	
		<!-- Datatable CSS -->
		<link rel="stylesheet" href="{% static 'back-end/assets/css/dataTables.bootstrap4.min.css'%}">
		
		<!-- Select2 CSS -->
		<link rel="stylesheet" href="{% static 'back-end/assets/css/select2.min.css'%}">
		
		<!-- Datetimepicker CSS -->
		<link rel="stylesheet" href="{% static 'back-end/assets/css/bootstrap-datetimepicker.min.css'%}">
		
		